<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>编辑车辆级别</title>
<link href="__PUBLIC__/admin/js/ui/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/images/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery/jquery.validate.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery/messages_cn.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/ui/js/ligerBuild.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/function.js"></script>
<script type="text/javascript">
    //表单验证
    $(function () {
        $("#form1").validate({
            errorPlacement: function (lable, element) {
                element.ligerTip({ content: lable.html(), appendIdTo: lable });
            },
            success: function (lable) {
                lable.ligerHideTip();
            }
        });
    });
</script>
</head>
<body class="mainbody">
<form name="form1" method="post" action="__SELF__" id="form1">

<input type="hidden" name="id" value="{$data.id}" />

<div class="navigation"><a href="javascript:history.go(-1);" class="back">后退</a>首页 &gt; 类别管理 &gt; 编辑类别</div>
<div id="contentTab">
    <ul class="tab_nav">
        <li class="selected"><a onclick="tabs('#contentTab',0);" href="javascript:;">编辑类别</a></li>
    </ul>
    <div class="tab_con" style="display:block;">
      <table class="form_table">
        <col width="180px" />
        <col />
        <tbody>
          <tr>
            <th>所属父类别：</th>
            <td>
<select name="pid" id="pid" class="select2 required valid">
	<option value="0">无父级分类</option>
    <volist name="list" id="vo">
	<option value="{$vo.id}" <eq name="vo.id" value="$data.pid">selected="selected"</eq>>
        <eq name="vo.level" value="2">　├ </eq>{$vo.title}
    </option>
    </volist>
</select>
            </td>
          </tr>
          <tr>
            <th>类别名称：</th>
            <td><input name="title" type="text" class="txtInput normal required" id="txtTitle" value="{$data.title}" maxlength="255" minlength="2" />
            <label>*</label></td>
          </tr>
          <tr>
            <th>调用别名：</th>
            <td><input name="pinyin" type="text" class="txtInput normal ime-disabled" id="pinyin" value="{$data.pinyin}" maxlength="50" />
            <label>该类别的调用别名，只允许字母、数字、下划线</label></td>
          </tr>
          <tr>
            <th>SEO标题：</th>
            <td><input name="seo_title" type="text" class="txtInput" id="seo_title" style="width:350px;" value="{$data.seo_title}" maxlength="255" /></td>
          </tr>
          <tr>
            <th>SEO关健字：</th>
            <td><textarea name="seo_keyword" rows="2" cols="20" id="seo_keyword" class="small">{$data.seo_keyword}</textarea></td>
          </tr>
          <tr>
            <th>SEO描述：</th>
            <td><textarea name="seo_discription" rows="2" cols="20" id="seo_discription" class="small">{$data.seo_discription}</textarea></td>
          </tr>
          <tr>
            <th>审核状态：</th>
            <td><span id="rblIsLock2"> <input id="rblIsLock_2" type="radio" name="status" value="0" 
              <eq name="data.status" value="0">checked=&quot;checked&quot;</eq>
              /&gt;
              <label for="rblIsLock_2">已审核 </label>
              <input id="rblIsLock_3" type="radio" name="status" value="1" 
              <eq name="data.status" value="1">checked=&quot;checked&quot;</eq>
              /&gt;
              <label for="rblIsLock_3">待审核</label>
            </span></td>
          </tr>
          <tr>
            <th>排 序：</th>
            <td><input name="sort" type="text" value="{$data.sort}" id="sort" class="txtInput normal small required digits" />
            <label>*</label></td>
          </tr>
          <tr>
            <th></th>
            <td><input type="submit" name="btnSubmit" value="提交保存" id="btnSubmit" class="btnSubmit" /></td>
          </tr>
        </tbody>
      </table>
    </div>
    
</div>
</form>
</body>
</html>
