<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>账户管理</title>
<link href="__PUBLIC__/admin/js/ui/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/images/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery/jquery.validate.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery/messages_cn.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/ui/js/ligerBuild.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/function.js"></script>
<script type="text/javascript">
    //表单验证
    $(function () {
        $("#form1").validate({
            errorPlacement: function (lable, element) {
                element.ligerTip({ content: lable.html(), appendIdTo: lable });
            },
            success: function (lable) {
                lable.ligerHideTip();
            }
        });
		
    });
</script>
</head>
<body class="mainbody">
<form name="form1" method="post" action="__URL__/edit" id="form1">

<input type="hidden" value="{$data.uid}" name="uid" />
<div class="navigation"><a href="javascript:history.go(-1);" class="back">后退</a>首页 &gt; 账户管理 &gt; 编辑账户</div>
<div id="contentTab">
    <ul class="tab_nav">
        <li class="selected"><a onclick="tabs('#contentTab',0);" href="javascript:;">编辑账户</a></li>
    </ul>
    <div class="tab_con" style="display:block;">
      <table class="form_table">
        <col width="180px" />
        <col />
        <tbody>
          <tr>
            <th align="right">所属店铺：</th>
            <td>
            <select name="store_id" id="store_id" class="select2 required">
              <option value="">所属店铺...</option>
              <volist name="store" id="vo">
                  <option value="{$vo.id}" <eq name="vo.id" value="$data['store_id']">selected="selected"</eq>>{$vo.title}</option>
              </volist>
            </select>
            </td>
          </tr>
          <tr>
            <th align="right">用户名：</th>
            <td><input name="account" type="text" class="txtInput normal required" id="account" value="{$data.account}" maxlength="255" minlength="2" /></td>
          </tr>
          <tr>
            <th align="right">当前密码：</th>
            <td><input name="pass" type="text" class="txtInput normal required" id="pass" value="{$data.pass}" maxlength="255" minlength="2" /></td>
          </tr>
          <tr>
            <th align="right">姓名：</th>
            <td><input name="nickname" type="text" class="txtInput normal required" id="nickname" value="{$data.nickname}" maxlength="255" minlength="2" /></td>
          </tr>
          <tr>
            <th align="right">备注：</th>
            <td><textarea name="remark" rows="2" cols="20" id="remark" class="small">{$data.remark}</textarea></td>
          </tr>
          <tr>
            <th align="right"><span class="col-sm-2 control-label">是否启用</span>：</th>
            <td><span id="rblIsLock2">
              <input id="rblIsLock_2" type="radio" name="status" value="1" <eq name="data.status" value="1">checked="checked"</eq> />
              <label for="rblIsLock_2">已审核 </label>
              <input id="rblIsLock_3" type="radio" name="status" value="0" <eq name="data.status" value="0">checked="checked"</eq> />
              <label for="rblIsLock_3">待审核</label>
            </span></td>
          </tr>
          <tr>
            <th></th>
            <td><input type="submit" name="btnSubmit" value="提交保存" id="btnSubmit" class="btnSubmit" /></td>
          </tr>
        </tbody>
      </table>
    </div>
    
</div>
</form>
</body>
</html>
