<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>添加品牌</title>
<link href="__PUBLIC__/admin/js/ui/skins/Aqua/css/ligerui-all.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/admin/images/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery/jquery.form.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery/jquery.validate.min.js"></script> 
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery/messages_cn.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/ui/js/ligerBuild.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/function.js"></script>
<script type="text/javascript">
    //表单验证
	var sendUrl = "{:U('Upload/fileupload')}";
    $(function () {
        $("#form1").validate({
            errorPlacement: function (lable, element) {
                element.ligerTip({ content: lable.html(), appendIdTo: lable });
            },
            success: function (lable) {
                lable.ligerHideTip();
            }
        });
    });
</script>
</head>
<body class="mainbody">
<form name="form1" method="post" action="__SELF__" id="form1">


<div class="navigation"><a href="javascript:history.go(-1);" class="back">后退</a>首页 &gt; 品牌管理 &gt; 汽车品牌</div>
<div id="contentTab">
    <ul class="tab_nav">
        <li class="selected"><a onclick="tabs('#contentTab',0);" href="javascript:;">添加汽车品牌</a></li>
    </ul>
    <div class="tab_con" style="display:block;">
        <table class="form_table">
            <col width="180px"><col>
            <tbody>
            <tr>
                <th>品牌名称：</th>
                <td><input name="title" type="text" maxlength="255" id="txtTitle" class="txtInput normal required" minlength="2" /><label>*</label></td>
            </tr>
            <tr>
              <th>首字母：</th>
              <td>
                <select name="letter" id="letter" class="select2 required">
                <option value="">请选择首字母...</option>
                <volist name="letter" id="vo">
                <option value="{$vo}">{$vo}</option>
                </volist>
                </select>
              </td>
            </tr>
            <tr>
                <th>拼音简写：</th>
                <td><input name="pinyin" type="text" maxlength="50" id="pinyin" class="txtInput normal required" /></td>
            </tr>
            <tr>
                <th>Logo图片：</th>
                <td>
                    <input name="logo" type="text" maxlength="255" id="logo" class="txtInput normal left" />
                    <a href="javascript:;" class="files"><input type="file" id="FileUpload" name="FileUpload" onchange="Upload(sendUrl, 'logo');" /></a>
                    <span class="uploading">正在上传，请稍候...</span>
                </td>
            </tr>
            <tr>
              <th>推荐类型：</th>
              <td>
				<span id="cblItem">
                <input name="is_red" type="checkbox" id="cblItem_1" value="1"><label for="cblItem_1">推荐</label>
                <input name="is_hot" type="checkbox" id="cblItem_2" value="1"><label for="cblItem_2">热门</label>
                <input name="is_lock" type="checkbox" id="cblItem_3" value="1"><label for="cblItem_3">隐藏</label>
                </span>
              </td>
            </tr>
            <tr>
              <th>排 序：</th>
              <td><input name="sort" type="text" value="0" id="sort" class="txtInput normal small required digits" /></td>
            </tr>
            <tr>
                <th></th>
                <td><input type="submit" name="btnSubmit" value="提交保存" id="btnSubmit" class="btnSubmit" /></td>
            </tr>
            </tbody>
        </table>
    </div>
    
</div>
</form>
</body>
</html>
