<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>类别管理</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/admin/js/ui/skins/Aqua/css/ligerui-all.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/admin/images/style.css" />
<script type="text/javascript" src="__PUBLIC__/admin/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/ui/js/ligerBuild.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/admin/js/function.js"></script>
</head>
<body class="mainbody">
<form name="form1" method="post" action="list.aspx?channel_id=1" id="form1">

<script type="text/javascript">
//<![CDATA[
var theForm = document.forms['form1'];
if (!theForm) {
    theForm = document.form1;
}
function __doPostBack(eventTarget, eventArgument) {
    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
        theForm.__EVENTTARGET.value = eventTarget;
        theForm.__EVENTARGUMENT.value = eventArgument;
        theForm.submit();
    }
}
//]]>
</script>

    <div class="navigation">首页 &gt; 类别管理 &gt; 类别列表</div>
    <div class="tools_box">
	    <div class="tools_bar">
            <a href="__URL__/add" class="tools_btn"><span><b class="add">添加类别</b></span></a>
		    <a href="javascript:void(0);" onclick="checkAll(this);" class="tools_btn"><span><b class="all">全选</b></span></a>
            <a onclick="return ExePostBack('btnDelete', '本操作会删除本类别和下属类别，确定要继续吗？');" id="btnDelete" class="tools_btn" href="javascript:__doPostBack('btnDelete','')"><span><b class="delete">批量删除</b></span></a>
        </div>
    </div>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="msgtable">
      <tr>
        <th width="6%">选择</th>
        <th align="left">类别名称</th>
        <th width="60" align="left">排序</th>
        <th width="80">属性</th>
        <th width="8%">操作</th>
      </tr>
        <volist name="list" id="vo">
              <tr>
                <td align="center"><span class="checkall">
                  <input id="rptList_ctl01_chkId" type="checkbox" name="id[]" value="{$vo.id}" />
                </span></td>
                <td>
                    <eq name="vo.level" value="1"><img src="__PUBLIC__/admin/images/folder_open.gif" align="absmiddle"></eq>
                    <eq name="vo.level" value="2">
                    	<img src="__PUBLIC__/admin/images/t.gif" align="absmiddle">
                        <img src="__PUBLIC__/admin/images/folder_open.gif" align="absmiddle">
                    </eq>
                    <a href="__URL__/edit/id/{$vo.id}">{$vo.title}</a>
                </td>
                <td align="center"><input type="text" value="{$vo.sort}" class="txtInput2 small2" /></td>
                <td align="center"><eq name="vo.status" value="0"> <img src="__PUBLIC__/admin/images/icon_correct.png" title="已开启" />
                  <else/>
                  <img src="__PUBLIC__/admin/images/icon_disable.png" title="未开启" /> </eq></td>
                <td align="center"><a href="__URL__/edit/id/{$vo.id}">修改</a></td>
              </tr>
        </volist>
    </table>
    <div class="line10"></div>
</form>
</body>
</html>